<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="application/Vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration Tests">
      <directory>./tests/Integration</directory>
    </testsuite>
    <testsuite name="Feature Tests">
      <directory>./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./application</directory>
    </include>
  </source>
</phpunit>
