@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body { margin: 0; padding: 0; }
body { font-family: 'Montserrat', sans-serif; font-size: 13px; background-color: #1C1B1E; color: #DBDBDB; padding-top: 100px; }
.sideBarMenu { position: fixed; left: 0; top: 0; bottom: 0; height: 100%; background-color: #474649; padding: 6px; z-index: 20; border-right: 1px solid #777779; transition: all 0.5s ease-in-out; }
.sideBarMenuGrid { display: grid; grid-template-rows: 1fr auto; gap: 30px; height: calc(100vh - 12px); }
.sideBarTop { margin-bottom: auto; }
.sideBarBottom { margin-top: auto; }
.sideBarMenuExpanded { display: none; }
.sideBarMenuExpanded i { margin-right: 5px; }
.tooltip { position: relative; white-space: nowrap; }
.tooltip::before, .tooltip::after { position: absolute; opacity:0; visibility: hidden; transition: opacity .3s ease-in-out; }
.tooltip:hover::before, .tooltip:hover::after { opacity: 1; visibility: visible; font-size: 11px; }
.tooltip::before { content: attr(data-title); z-index: 2; width: fit-content; color: #fff; font-weight: normal; background: rgba(0,0,0, .8); border-radius: 5px; padding: 5px; } 
.tooltip::after { content: ""; width: 0; height: 0; }
.tooltip--top::before, .tooltip--top::after { bottom: 100%; left: 50%; transform: translate(-50%); margin-bottom: 15px; }
.tooltip--top::after { margin-bottom: 8px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 7px solid rgba(0,0,0, .8); }
.tooltip--bottom::before, .tooltip--bottom::after { top: 100%; left: 50%; transform: translate(-50%); margin-top: 15px; }
.tooltip--bottom::after { margin-top: 8px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 7px solid rgba(0,0,0, .8); } 
.tooltip--right::before, .tooltip--right::after { top: 50%; left: 100%; transform: translate(0, -50%); margin-left: 15px; }
.tooltip--right::after { margin-left: 8px; border-top: 5px solid transparent; border-right: 7px solid rgba(0,0,0, .8); border-bottom: 5px solid transparent; }  
.tooltip--left::before, .tooltip--left::after { top: 50%; right: 100%; transform: translate(0, -50%); margin-right: 15px; }
.tooltip--left::after { margin-right: 8px; border-top: 5px solid transparent; border-left: 7px solid rgba(0,0,0, .8); border-bottom: 5px solid transparent; }
header { width: 100%; box-sizing: border-box; position: fixed; top: 0; left: 0; right: 0; z-index: 10; background-color: #313033; padding: 12px 0 12px 0; border-bottom: 1px solid #474649; }
.floater { width: 1300px; margin-left: auto; margin-right: auto; }
.dualHorizontalGrid { display: grid; grid-template-columns: auto auto; gap: 40px; align-items: center; }
.alignRight { text-align: right; }
.headerGrid { display: grid; grid-template-columns: auto 1fr auto; gap: 30px; align-items: center; }
.alignCenter { text-align: center; }
.headerSignInLink i, .headerSignUpLink i { margin-right: 5px; }
footer { position: fixed; bottom: 0; left: 0; right: 0; background-color: #313033; padding: 8px 0 8px 0; font-size: 12px; border-top: 1px solid #474649; }
.footerGrid { display: grid; grid-template-columns: 30% 1fr 30%; gap: 20px; align-items: center; }
.footerGridCenter { text-align: center; }
.footerGridRight { text-align: right; }
.footerGridCenter span { margin-left: 14px; }
.footerGridCenter span:first-of-type { margin-left: 0px; }
.footerGridCenter i { margin-right: 5px; }
.mainGridAll { display: grid; grid-template-columns: 260px 1fr 260px; gap: 30px; }
.mainGridLeftNoRight { display: grid; grid-template-columns: 260px 1fr; gap: 30px; }
.mainGridRightNoLeft { display: grid; grid-template-columns: 1fr 260px; gap: 30px; }
.photoThumbnail { width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center; }
.photoThumbnail img { width: 100%; height: 100%; display: block; object-fit: cover; }
.miniPhoto { width: 18px; height: 18px; border-radius: 50%; overflow: hidden; display: inline-block; justify-content: center; align-items: center; }
.miniPhoto img { width: 100%; height: 100%; display: block; object-fit: cover; }
.photo { width: 50px; height: 50px; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center; }
.photo img { width: 100%; height: 100%; display: block; object-fit: cover; }
.noPhoto { width: 40px; height: 40px; border-radius: 50%; background-color: attr(data-bg); display: flex; justify-content: center; align-items: center; font-size: 24px; color: attr(data-text); }
.noPhotoThumbnail { width: 40px; height: 40px; border-radius: 50%; background-color: attr(data-bg); display: flex; justify-content: center; align-items: center; font-size: 32px; color: attr(data-text); }
.miniNoPhoto { width: 10px; height: 10px; border-radius: 50%; background-color: attr(data-bg); display: flex; justify-content: center; align-items: center; font-size: 32px; color: attr(data-text); }
.blockHeader { width: auto; border-radius: 8px 8px 0 0; background-color: #313033; color: #DBDBDB; font-weight: 700; font-size: 16px; padding: 16px; border-bottom: 1px solid #1c1b1e; border-left: 1px solid #5f5e60; border-top: 1px solid #5f5e60; border-right: 1px solid #5f5e60; }
.blockContent { width: auto; border-radius: 0 0 8px 8px; background-color: #313033; color: #DBDBDB; padding: 16px; border-left: 1px solid #5f5e60; border-right: 1px solid #5f5e60; border-bottom: 1px solid #5f5e60; }
.snapshotItem { width: auto; border-radius: 8px; background-color: #313033; padding: 16px; margin-top: 12px; border: 1px solid #5f5e60; }
.snapshotItem:first-of-type { margin-top: 0px; }
.snapshotItemHorizontalGrid { display: grid; grid-template-columns: auto 1fr; gap: 10px; }
.snapshotItemVerticalGrid { display: grid; grid-template-rows: auto auto auto auto; gap: 8px; }
.snapshotItemInfoBubble { font-size: 10px; border-radius: 5px; background-color: #1c1b1e; border: 1px solid #313033; padding: 5px 10px 5px 10px; margin-left: 20px; display: inline-block; }
.snapshotItemInfoBubble:first-of-type { margin-left: 0px; }
.snapshotItemPreviewText { font-size: 12px; }
.snapshotItemStats span { margin-left: 20px; }
.snapshotItemStats span:first-of-type { margin-left: 0px; }
.snapshotItemStats i { margin-right: 5px; }
.dropDownMenu { position: absolute; left: 0; top: 0; z-index: 25; border-radius: 8px; background-color: #1c1b1e; padding: 4px; border: 1px solid #777779; box-shadow: 4px 4px 2px rgba(32, 32, 32, 0.9); display: none; }
.pageTitleBar { width: auto; margin-bottom: 20px; }
.pageTitle { font-size: 28px; font-weight: 700; color: #FFF; }
.frontFilterButton i { margin-left: 5px; }
.backgroundDisabler { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 35; background: rgba(0, 0, 0, 0.8); display: none; }
.dialog { position: fixed; top: 60px; left: 50%; transform: translateX(-50%); z-index: 40; border-radius: 8px; padding: 0px; background-color: #313033; border: 1px solid #474649; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); width: 800px; display: none; }
.dialogHeader { width: auto; border-radius: 8px 8px 0 0; padding: 14px; background-color: #1c1b1e; }
.dialogContent { width: auto; padding: 14px; background-color: #313033; }
.dialogHeaderLeft { font-size: 16px; font-weight: 600; color: #FFF; }
.dialogHeaderRight { font-size: 18px; text-align: right; }
.dialogFooter { width: auto; border-radius: 0 0 8px 8px; background-color: #1c1b1e; padding: 14px; text-align: center; }
.relative { position: relative; margin-top: 12px; }
.displayNone { display: none; }
.errorBox { width: auto; border-radius: 8px; background-color: #C00000; color: #FFF; padding: 14px; }