<a href="javascript:void(0);" data-filter="{{ name }}" onclick="getSnapshotsWithFilter(this);">
    {% if checked %}
        <i class="fa-solid fa-circle-check"></i>
    {% endif %}
    {{ name }}
</a>