<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="robots" content="noindex">
        <title>${communityTitle}</title>
        ${webFontLink}
        <link href="${wrapper}?controller=resource&action=css&file=normalize" rel="stylesheet" type="text/css">
        <link href="${baseUrl}/public/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="${wrapper}?controller=resource&action=css&file=common" rel="stylesheet" type="text/css">
        <link href="${wrapper}?controller=resource&action=css&file=hyperlinks" rel="stylesheet" type="text/css">
        <link href="${wrapper}?controller=resource&action=css&file=forms" rel="stylesheet" type="text/css">
        <script src="${wrapper}?controller=resource&action=js&file=jquery.min"></script>
        <script src="${wrapper}?controller=resource&action=js&file=jquery-ui"></script>
        <script src="${wrapper}?controller=resource&action=js&file=common"></script>
        <script type="application/json" id="json">
            {
                "ajaxUrl":"${wrapper}"
            }
        </script>
    </head>
    <body>
        <div class="dropDownMenu" id="ddm-languages">
            <span class="dropDownMenuLinks">
                {{ for $language in $languages }}
                    <a href="{{ $language->url }}">
                        {{ $language->selected ? '<i class="fa-solid fa-circle-check"></i>' : '' }}
                        {{ $language->name }}
                    </a>
                {{ endfor }}
            </span>
        </div>
        <div class="dropDownMenu" id="ddm-themes">
            <span class="dropDownMenuLinks">
                {{ for $theme in $themes }}
                    <a href="{{ $theme->url }}">
                        {{ $theme->selected ? '<i class="fa-solid fa-circle-check"></i>' : '' }}
                        {{ $theme->name }}
                    </a>
                {{ endfor }}
            </span>
        </div>
        <header>
            <div class="topBar">
                <div class="floater">
                    <div class="topBarGrid">
                        <div class="topBarGridLeft">
                            <a href=""><i class="fa-solid fa-house"></i>${[global][homeLink]}</a>{{ if $membersList }}<a href="${membersLink}"><i class="fa-solid fa-users"></i>${[global][membersLink]}</a>{{ endif }}{{ if $whosOnline }}<a href="${whosOnlineLink}"><i class="fa-solid fa-earth-americas"></i>${[global][whosOnlineLink]}</a>{{ endif }}{{ if $search }}<a href="${searchLink}"><i class="fa-solid fa-magnifying-glass"></i>${[global][searchLink]}</a>{{ endif }}{{ if $help }}<a href="${helpLink}"><i class="fa-solid fa-circle-question"></i>${[global][helpLink]}</a>{{ endif }}
                        </div>
                        <div class="topBarGridRight"><a href="javacript:void(0);" id="ddm-languages-link" data-menu="ddm-languages" data-link="ddm-languages-link" data-ignored="ddm-languages-icon1,ddm-languages-icon2" onclick="openDropDownMenu(this);"><i class="fa-solid fa-language" id="ddm-languages-icon1"></i>${[global][languagesLink]}<i class="fa-solid fa-chevron-down" id="ddm-languages-icon2"></i></a><a href="javascript:void(0);" id="ddm-themes-link" data-menu="ddm-themes" data-link="ddm-themes-link" data-ignored="ddm-themes-icon1,ddm-themes-icon2" onclick="openDropDownMenu(this);"><i class="fa-solid fa-palette" id="ddm-themes-icon1"></i>${[global][themesLink]}<i class="fa-solid fa-chevron-down" id="ddm-themes-icon2"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="middleBar">
                <div class="floater">
                    <div class="middleBarGrid">
                        <div>
                            <a href="${homeLink}">
                            {{ if $logoType == 'image'}}
                                <img src="${logoSrc}" alt="*">
                            {{ else }}
                                ${communityTitle}
                            {{ endif }}
                            </a>
                        </div>
                        <div class="middleBarGridRight">
                            <span class="guestUserBarSignInLink">
                                <a href=""><i class="fa-solid fa-right-to-bracket"></i>${[global][signInLink]}</a>
                            </span>
                            {{ if $signUpEnabled }}
                                <span class="guestUserBarSignUpLink">
                                    <a href=""><i class="fa-solid fa-user-plus"></i>${[global][signUpLink]}</a>
                                </span>
                            {{ endif }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomBar">
                <div class="floater">
                    <div class="bottomBarGrid">
                        <div class="bottomBarGridLeft"><i class="fa-solid fa-house"></i>
                        {{ for $crumb in $breadcrumbs }}
                            {{ if $crumb->url != null }}
                                <a href="{{ $crumb->url }}">
                            {{ endif }}
                            {{ $crumb->title }}
                            {{ if $crumb->url != null }}
                                </a>
                            {{ endif }}
                        {{ endfor }}
                        </div>
                        <div class="bottomBarGridRight">
                            {{ if $communityLeaders }}
                                <a href="${communityLeadersLink}"><i class="fa-solid fa-user-shield"></i>${[global][communityLeadersLink]}</a>
                            {{ endif }}
                            {{ if $tags }}
                                <a href="${tagsLink}"><i class="fa-solid fa-tags"></i>${[global][tagsLink]}</a>
                            {{ endif }}
                            {{ if $clubs }}
                                <a href="${clubsLink}"><i class="fa-solid fa-people-arrows"></i>${[global][clubsLink]}</a>
                            {{ endif }}    
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="floater">
                {{ if $blocks }}
                    {{ if $hasLeftBlocks && $hasRightBlocks }}
                        <div class="mainGridAll">
                            <div>${leftBlocks}</div>
                            <div>{body}</div>
                            <div>${rightBlocks}</div>
                        </div>
                    {{ endif }}
                    {{ if !$hasLeftBlocks && $hasRightBlocks }}
                        <div class="mainGridRightNoLeft">
                            <div>{body}</div>
                            <div>${rightBlocks}</div>
                        </div>
                    {{ endif }}
                    {{ if $hasLeftBlocks && !$hasRightBlocks }}
                        <div class="mainGridLeftNoRight">
                            <div>${leftBlocks}</div>
                            <div>{body}</div>
                        </div>
                    {{ endif }}
                {{ else }}
                    ${body}
                {{ endif }}
            </div>
        </main>
        <footer>
            <div class="floater">
                <div class="footerGrid">
                    <div class="footerGridLeft"><a href="${manageCookiesLink}">${[global][manageCookiesLink]}</a>${privacyPolicyLink}${contactUsLink}</div>
                    <div class="footerGridCenter">${[global][poweredBy]} <strong><a href="https://www.bulletinfusion.com" target="_blank">Bulletin Fusion</a></strong> ${version}</div>
                    <div class="footerGridRight"><span>${allTimes}</span><span>${timeGenerated}</span></div>
                </div>
            </div>
        </footer>
    </body>
</html>